{% load staticfiles %}
<html>
<head>
  <title>Jobdata Details</title>
  <link rel="stylesheet" type="text/css" href="{% static 'jobdetails/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'jobdetails/style.css' %}" type="text/css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="{% static 'jobdetails/jquery.min.js' %}"></script>
  <script src="{% static 'jobdetails/bootstrap.min.js' %}"></script>
  <script src="{% static 'jobdetails/Chart.js'%}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container-fluid">
    <div class="row nopadding">
    <div class="col-lg-12 nopadding">
      <div class="bluebg col-lg-12 nopadding" style="margin-bottom:20px;">
      <h3 class="text-center whitetext">Job Details</h3>
      </div>
      <div class="col-lg-12 nopadding center-block text-left" style="margin-bottom:20px;">
<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><a href="{% url 'jobdetails:job_details_agents' %}">Home</a></li>
  {% if crawler_id %}
  <li class="active">{{crawler_id.tld}}</li>
  {% endif %}
  {% if crawler_id_date %}
  <li><a href="{% url 'jobdetails:job_details_dates' crawler=crawler_id_date.id %}">{{crawler_id_date.tld}}</a></li>
  <li class="active">{{date}}</li>
  {% endif %}
  {% if crawler_id_date_file %}
  <li><a href="{% url 'jobdetails:job_details_dates' crawler=crawler_id_date_file.id %}">{{crawler_id_date_file.tld}}</a></li>
  <li><a href="{% url 'jobdetails:job_details_files' crawler=crawler_id_date_file.id date=date %}">{{date}}</a></li>
  <li class="active">{{title}}</li>
  {% endif %}
</ol>
      </div>
      <div class="col-lg-12 nopadding">
      {%block content %}

      {% endblock content %}
      </div>
          </div>
    </div>
  </div>
</body>
</html>
