{% extends 'jobdetails/base.html' %}
{% block content %}
<div class="boxlg col-lg-12 center-block text-center">
  <table>
    <tr>
      <th><span class="redtext fa fa-file fa-1x"></span></th>
      <th><span class="redtext">Name</span></th>
      <th><span class="redtext">Created On</span></th>
      <th><span class="redtext">Page Link</span></th>
      <th><span class="redtext">GCS JSON</span></th>
      <th><span class="redtext">Extracted Data</span></th>
    </tr>
    {% for file in files %}
    <tr>
      <td>  <a style="float:left;" href="{% url 'jobdetails:job_details_view_html' file=file.path_gcs crawler=crawler_id_date.id date=date %}" class="custom">
    <span class="center-block text-center fa fa-file fa-1x bluetext"></span> </a>
</td>
      <td>  <h6 class="text-left blacktext" style="display:inline-block;">
    <a href="{% url 'jobdetails:job_details_view_html' file=file.path_gcs crawler=crawler_id_date.id date=date %}" class="custom">
      {{file.job_title}}</a></h6>
</td>
<td><h6> {{file.created_at}}</h6> </td>
<td> <h6><a href="{{file.job_page_url}}" target="_blank" class="custom">
      Open</a></h6></td>
<td> <h6><a href="{% url 'jobdetails:job_details_view_json' file=file.path_gcs crawler=crawler_id_date.id date=date %}" class="custom">
      View</a></h6></td>
<td><h6> <a href="{% url 'jobdetails:job_details_view_data' job=file.id crawler=crawler_id_date.id date=date %}" class="custom">
      View</a></h6></td>
    </tr>
    {% endfor %}
  </table>
  </div>
  {% endblock content %}
